@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: url('../images/bg-app.png') center bottom repeat-x #FEFBB4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header.topbar {
  align-items: center;
  background-color: #333;
  border-bottom: solid 1px #ddd;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}

header.topbar img.logo {
  height: 50px;
  width: auto;
}

header.topbar .user {
  background: none;
  color: #f3f3f3;
  font-size: 13px;
  text-align: right;
}

header.topbar .user > div > .text {
  color: #f3f3f3;
  padding-right: 15px;
}

.pageloader {
  background: url('../images/bg-app.png') center bottom repeat-x #FEFBB4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.pageloader.fadeOut {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

#root, .App {
  height: 100%;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}