#login {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

#login .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

#login .header .logo {
    height: auto;
    width: 90px;
}

#login form {
    display: inline-block;
    width: 250px;
    margin: 15px auto
}

#login form .button {
    margin: 10px
}

#login form .separator {
    margin: 15px auto;
    text-align: center;
    width: 100%;
}